./exp_logs/
./exp_logs/*
./data/preprocessed/*
./data/preprocessed/**
./data/preprocessed_jawiki/*
./data/preprocessed_jawiki/**
./data/preprocessed_jawiki_sudachi/*
./data/preprocessed_jawiki_sudachi/**
./.idea/*
./__pycache__/*
./jel/__pycache__/*
./**/__pycache__/*
./**/**/__pycache__/*
./vocab_file/*
./japanese_bert/*
./.pytest_cache/*
./resources/*
./.pytest_cache/**
