allennlp==2.1.0
appdirs==1.4.4
attrs==20.3.0
awscli==1.19.44
bcj-cffi==0.5.1
beautifulsoup4==4.9.3
blis==0.7.4
boto3==1.17.17
botocore==1.20.44
cached-property==1.5.2
catalogue==2.0.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
conllu==4.4
cymem==2.0.5
Cython==0.29.23
dartsclone==0.9.0
distlib==0.3.1
docutils==0.15.2
emoji==1.2.0
faiss==1.5.3
faiss-cpu==1.7.0
filelock==3.0.12
ftfy==5.9
fugashi==1.1.0
googledrivedownloader==0.4
h5py==3.1.0
html==1.13
idna==2.10
importlib-metadata==3.7.0
iniconfig==1.1.1
ipadic==1.0.0
ja-core-news-md @ https://github.com/explosion/spacy-models/releases/download/ja_core_news_md-3.0.0/ja_core_news_md-3.0.0-py3-none-any.whl
ja-ginza==4.0.0
jieba==0.42.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonnet==0.17.0
jsonpickle==2.0.0
kaggle==1.5.12
konoha==4.6.4
lmdb==1.1.1
marisa-trie==0.7.5
MarkupSafe==1.1.1
mecab-python3==1.0.3
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.7.0
multivolumefile==0.2.3
murmurhash==1.0.5
mwparserfromhell==0.6
neologdn==0.4
nltk==3.5
nmslib==2.1.1
numpy==1.20.1
overrides==3.1.0
packaging==20.9
pandas==1.2.4
pathy==0.4.0
Pillow==8.1.0
pipenv==2020.11.15
plac==1.1.3
pluggy==0.13.1
preshed==3.0.5
protobuf==3.15.3
psutil==5.8.0
py==1.10.0
py7zr==0.15.2
pyasn1==0.4.8
pybind11==2.6.1
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.7.3
pyparsing==2.4.7
pyppmd==0.12.1
pysbd==0.3.4
pytest==6.2.2
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2021.1
PyYAML==5.4.1
pyzstd==0.14.4
regex==2020.11.13
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.4
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.1
scispacy==0.4.0
sentencepiece==0.1.95
smart-open==3.0.0
sortedcontainers==2.1.0
soupsieve==2.2.1
spacy==3.0.6
spacy-alignments==0.7.2
spacy-legacy==3.0.5
spacy-transformers==1.0.1
srsly==2.4.1
stanza==1.2
SudachiDict-core==20201223.post1
SudachiPy==0.5.2
tensorboardX==2.1
text-unidecode==1.3
texttable==1.6.3
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
torch==1.7.1
torchcontrib==0.0.2
torchvision==0.8.2
tqdm==4.58.0
transformers==4.2.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.7
virtualenv-clone==0.5.4
wasabi==0.8.2
wcwidth==0.2.5
zipp==3.4.0
